header{
  text-align: center;
  margin-bottom: 20px;
}
body{
  margin: 0 0 0;
}
h1{
  display: block;
  background-color: rgb(244, 79, 79);
  margin: 0 0 0;
}
main{
  padding: 10px;
}
#parent{
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
  text-align: center;
  flex-basis: 25%;
  margin: 20px 0 20px;
}
.content{
  font-size: 20px;
  margin-top: 20px;
  margin: 20px 0 20px;
  padding: 10px 15px 10px;
  border: solid 3px rgb(238, 204, 204);
}
h2{
  font-size: 25px;
  border-bottom: dotted 3px rgb(236, 122, 122);
  margin: 0 0 0;
}
p{
  margin: 0 0 0;
}
h2::before{
  content: "â—";
  color: rgb(239, 111, 139);
}
.content p:nth-of-type(2)::first-letter{
  font-weight: bold;
  color: rgb(97, 206, 249);
}
.content img:nth-of-type(1){
  margin: 10px 0 10px;
  width: 70%;
}
footer{
  text-align: center;
}
a{
  font-size: 20px;
  display: block;
  background-color: rgb(244, 79, 79);
}
a:link{
  color: rgb(255, 255, 255);
}
a:visited{
  color: rgb(193, 234, 251);
}
a:hover{
  color: rgb(245, 178, 168);
}
@media screen and (max-width: 768px) {
  #parent {
    flex-direction: column;
  }
  #parent > .content{
    display: block;
  }
  h2{
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }
}